.btn-derecha {
    right: 0;
    bottom: 20% !important;
    width: 80px;
    height: 50px;
    position: relative;
    top: 50;
    margin-left: 30px;
  }
.titulo{
  margin-right: auto;
}
  .bi-search {
    color: #8E44AD; 
    height: 35px;
  
  }

  
  .search{
    width: 400px;
  }

  .search-icon {
    left: 15px;
    width: 25px;
    height: 25px;
 }


.subtitulo {
  font-size: 0.8rem; // Tamaño de fuente más pequeño
  display: block; // Mostrar en bloque para que aparezca debajo de la marca
  overflow: hidden; // Ocultar cualquier desbordamiento de texto
  white-space: nowrap; // Evitar que el texto se desborde en varias líneas
  text-overflow: ellipsis; // Agregar puntos suspensivos si el texto es demasiado largo para ajustarse
  color: inherit; // Heredar el color del texto del elemento padre (en este caso, el color del texto del navbar)
  text-decoration: none; // Eliminar subrayado de los enlaces
}

