<div class="card my-3 ">
  <h2 class="title text-center fs-5 fw-medium my-3">Actualizar Hero</h2>
  <form class="m-3">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="name" placeholder="Nombre del hero">
    </div>
    <div class="mb-3">
      <label for="power" class="form-label">Poder</label>
      <input type="text" class="form-control" id="power" placeholder="Poder del hero">
    </div>
    <div class="mb-3">
      <label for="universe" class="form-label">Universo</label>
      <input type="text" class="form-control" id="universe" placeholder="Universo del hero">
    </div>
    <button class="btn btn-primary w-100">Actualizar</button>
  </form>
</div>


