<div class="container-fluid">
    <app-navheroe (showFormCreateHero)="showFormCreate()" (buscarHeroes)="buscarHeroes($event)"> </app-navheroe>
    <!--<button class="btn btn-primary w-100 mt-3" (click)="showFormCreate()">Crear</button>-->

    <div class="row">
        <div class="col-8 mt-3">
            <div class="row">
                <div class="col-4" *ngFor="let hero of (mostrarHeroesOriginales ? heroes : heroesFiltrados)">
                    <app-heroe [hero]="hero" (emitEditHero)="editHero($event)" (deleteHero)="onDeleteHero($event)"></app-heroe>
                </div>
            </div>
        </div>
        <div class="col-4"> 
            <app-new-heroe  (addHero)="onAddHero($event)" *ngIf="create"></app-new-heroe>
            <app-edit-heroe [hero]=hero   (updateHero)="updateHero($event)"  *ngIf="!create" ></app-edit-heroe>
        </div>

    </div>
</div>
