<div class="container-fluid">

    <button class="btn btn-primary w-100 mt-3" (click)="showFormCreate()">Crear</button>

    <div class="row">
        <div class="col-8 mt-3">
            <div class="row">
                <div class="col-4" *ngFor="let hero of heroes">
                    <app-heroe [hero]="hero" (emitEditHero)="editHero($event)"></app-heroe>
                </div>
            </div>
        </div>
        <div class="col-4">
            <app-new-heroe *ngIf="create"></app-new-heroe>
            <app-edit-heroe [hero]=hero (emitEditHero)="update($event)" *ngIf="!create" ></app-edit-heroe>
        </div>

    </div>
</div>
