<div class="position-relative">
    <div class="card mb-4">
        <div class="m-3 d-flex justify-content-center">
            <img class="img-fluid rounded-3 photo" [src]="hero.image" alt="Hero Image">
        </div>
        <div class="text-center mx-3">
            <p class="mb-0 fw-bold">{{ hero.name }}</p>
            <p class="text-muted subtitle">{{ hero.universe }}</p>
        </div>
        <div class="mx-3 mb-3 d-flex align-items-center ">
        <span class="badge bg-primary d-flex justify-content-center align-items-center">
            <i class="bi bi-telephone"></i>
        </span>
            <p class="mb-0 ms-2">{{ hero.power }}</p>
        </div>
        <div class="mx-3 mb-3 d-flex align-items-center ">
        <span class="badge bg-primary d-flex justify-content-center align-items-center">
            <i class="bi bi-telephone"></i>
        </span>
            <p class="mb-0 ms-2">{{ hero.power }}</p>
        </div>

    </div>
    <div class="position-absolute options">
        <i class="bi bi-pencil-square ms-3" (click)="editHero(hero)"></i>
        <i class="bi bi-trash ms-3" (click)="onDeleteHero()" ></i>
    </div>
</div>

